
// Border for images
$border-image-radius-desktop: 50px;
$border-image-radius-phone: 25px;
$border-card-image-radius: 25px 25px 0px 0px;


// Border for Buttons
$border-button-radius-phone: 10px;


//Border for sections
$border-radius-section: 50px;