:root{
    --main-bg-color: #f2f2f2;
    --light-blue: #38BEB7;
    --dark-blue: #001a25;
    --aqua-light: #73e5df;
    --aqua-dark: #209690;
    --dark-grey: #333333;
    --light-grey: #F2F2F2;
    --breakpoint-sm: 600px;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0; 
    background-color: var(--main-bg-color);
}

/*--------------------HOME--------------------------*/

body{
    background-size: cover;
    background-position: center;
}

.header{
    display: block;
    position: relative;
    height: 3.5rem;
    width: auto;
    background-color: var(--main-bg-color);
    margin-bottom: 3rem;
}

.logo{
    align-items: flex-start;
    font-family: 'Ubuntu', sans-serif;
    color: var(--light-blue);
    font-weight: bold;
    font-size: 20px;
}

.headerButtons{
    position: absolute;
    right: 0px;
    color: var(--light-blue);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.buttons{
    width: auto;
    color: var(--light-blue);
    text-decoration: none;
    text-align: center;
}

.buttons:hover{
    color: var(--dark-blue);
    text-decoration: none;
    transition: 0.5s;
}

.content{
    position: absolute;
    left: 72%;
    float: right;
    width: 13.5rem;
}

.containerHeader{
    position: absolute;
    left: 18%;
    top: 20%;
    width: 13.5rem;
}

.containerText{
    position: absolute;
    left: 17%;
    top: 45%;
    width: 984px;
    color: var(--light-grey);
    text-align: center;
    font-family: Oxygen;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px;
    line-height: 1.67;
}


.elements{
    font-family: 'Ubuntu', sans-serif;;
    font-weight: bold;
}

.mainTitle{
    color: var(--aqua-dark);
    font-size: 64px;
}

.mainSubtitle{
    color: var(--aqua-dark);
    font-size: 48px;
    text-align: right;
}

.title{
    color: var(--light-grey);
    font-size: 64px;
}

.subtitle{
    color: var(--light-grey);
    font-size: 48px;
    text-align: right;
}

.image{
    position: relative;
    width: 1280px;
    margin-top: -6rem;
}