@import './components/card';
@import './components/color';
@import './components/buttons';
@import './components/border';
@import './components/fonts';
@import './about-style';




body, html {
    height: 100%;
    padding: 0;
    margin: 0; 
    background-color: $marmol;
}

// Header
// Here are all the classes that is used in header

.botton-text{
    @include button-text;
}

// Header End

// Home
// Landing Image Section
.title{
    @include h1-title-phone;
}
.subtitle{
    @include h2-subtitle-phone;
}
.button-rounded-filled{
    @include button-rounded-filled;
}
.border-image-radius{
    border-radius: $border-image-radius-phone;
}
// Landing Image Section End

// Our Products Section
.card{
    border: none;
    background-color: none;
    @include card-frame;  
}
.border-card-image-radius{
    border-radius: $border-card-image-radius;
}
.card-price{
    @include card-price-phone
}
.card-title{
    @include card-title-phone;
}
.card-info-text{
    @include card-info-text;
}
.icon-color{
    color: $marmol;
}

// Our Products Section End

// Home End


@media only screen and (min-width: 1280px) {

    // Header
    // Here are all the classes that is used in header

    .botton-text{
        @include button-text;
    }

    // Header End

    // Home
    // Landing Image Section
    .title{
        @include h1-title-desktop;
    }
    .subtitle{
        @include h2-subtitle-desktop;
    }
    .button-rounded-filled{
        @include button-rounded-filled;
    }
    .border-image-radius{
        border-radius: $border-image-radius-desktop;
    }
    // Landing Image Section End
    
    // Our Products Section
    .border-section{
        border-radius: $border-radius-section;
    }
    .card{
        border: none;
        background-color: none;
        @include card-frame;  
    }
    .border-card-image-radius{
        border-radius: $border-card-image-radius;
    }
    .card-price{
        @include card-price-desktop;
    }
    .card-title{
        @include card-title-desktop;
    }
    .card-info-text{
        @include card-info-text;
    }

    // Our Products Section End
}

/*--------------------HOME--------------------------*/

// body{
//     background-size: cover;
//     background-position: center;
// }
//     .header{
//         display: block;
//         position: relative;
//         height: 3.5rem;
//         width: auto;
//         background-color: var(--main-bg-color);
//         margin-bottom: 3rem;
//         margin-top: 24px;
//     }

//     .logo{
//         align-items: flex-start;
//         font-family: 'Ubuntu', sans-serif;
//         color: var(--light-blue);
//         font-weight: bold;
//         font-size: 20px;
//     }

//     .headerButtons{
//         /* margin-left: 25rem; */
//         position: absolute;
//         right: 0px;
//         color: var(--light-blue);
//         font-family: 'Ubuntu', sans-serif;
//         font-size: 20px;
//         text-transform: uppercase;
//         font-weight: 500;
//         display: flex;
//         justify-content: space-between;
//         width: 50%;

//     }

//     div.container
//     {
//         text-align: center;
//     }

//     div.container a{
//         position: relative;
//         z-index: 0;
//         cursor: pointer;
//     }

//     .buttons{
//         width: auto;
//         color: var(--light-blue);
//         text-decoration: none;
//         text-align: center;
//     }

//     // .buttons:hover{
//     //     color: var(--dark-blue);
//     //     text-decoration: none;
//     //     transition: 0.5s;
//     // }

//     // div.headerButtons a:before
//     // {
//     //     left: 0px;
//     //     top: 0px;
//     // }

//     // div.headerButtons a:after
//     // {
//     //     right: 0px;
//     //     bottom: 0px;
//     // }

//     // div.headerButtons a:hover:before, div.headerButtons a:hover:after
//     // {
//     //     opacity: 1;
//     //     height: 2px;
//     //     width: 100%;
//     // }

//     // div.headerButtons a:before
//     // {
//     //     left: 0px;
//     //     top: 0px;
//     // }

//     // div.headerButtons a:after
//     // {
//     //     right: 0px;
//     //     bottom: 0px;
//     // }

//     .containerBody{
//         position: relative;
//         height: auto;
//         width: auto;
//         margin: 0 ;
//         margin-top: 1rem;
//         padding-bottom: 1rem;
//         background-color: var(--main-bg-color);
//     }

//     .containerContent{
//         position: absolute;
//         left: 30%;
//         top: 35%;
//     }
//     .custom-trapezoid-img{
//         background-size: cover;
//     }

//     .custom-trapezoid-left{
//         fill: var(--aqua-dark);
//         width: 100%;
//         height: 1000px;
//     }

//     .image{
//         width: 100rem;
//         height: 45rem;
//         margin-left: -2rem;
//         margin-top: -2rem;
//     }

//     .contentCards{
//         margin-top: -4rem;
//         margin-left: -2rem;
//     }

//     .title{
//         color: var(--light-grey);
//         font-size: 96px;
//         font-family: 'Ubuntu', sans-serif;;
//         font-weight: bold;
//     }
//     .subtitle{
//         color: var(--light-blue);
//         font-size: 64px;
//         font-family: 'Ubuntu', sans-serif;
//         font-weight: bold;
//     }

//     .btnGoToBuy{

//         border-radius: 10px;
//         color: var(--light-grey);

//         margin-top: 16px;
//         transition: 0.2s;

//         font-family: Ubuntu;
//         font-style: normal;
//         font-weight: 500;
//         font-size: 20px;
//         line-height: 23px;
//         letter-spacing: 0.05em;
//         text-transform: uppercase;

//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;
//         padding: 8px 16px;

//         /* wp-Aqua */
//         background: var(--light-blue);
        
//         /* Soft Shadow */
//         box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);

//     }

//     .btnGoToBuy:hover{
//         background-color: var(--dark-blue);
//         border-color: var(--light-blue);
//         transition: 0.2s;
//     }

//     .card{
//         background-color: rgba(0, 0, 0, 0);
//         position: relative;
//         display: flex;
//         align-items: center;
//         height: 370px;
//         width: 263px;
//         border-radius: 50px;
//         box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
//     }

//     .card img{
//         height: 100%;
//         width: 100%;
//         border-radius: 50px;
//         object-fit: cover;
//     }


//     .cards{
//         position: absolute;
//         width: 100%;
//         height: 100%;
//     }

//     .card-paragraph{
//         margin-top: 24px;
//         color: var(--light-grey);
//         font-family: 'Oxygen', sans-serif;;
//         font-weight: bold;
//         font-size: 25px;
//         padding-left: 132px;
//         padding-right: 132px;
//     }

//     .card-title{
//         font-size: 36px;
//         font-family:'Ubuntu', sans-serif;
//         color: var(--aqua-light);
//         position: absolute;
//         top: 16px;

//     }

//     .cardContainer{
//         margin-top: 24px;
//         display: flex;
//         justify-content: space-evenly;
//         width: 100%;
//         padding-left: 132px;
//         padding-right: 132px;
//     }

//     .titleCards{
//         font-family: 'Ubuntu', sans-serif;
//         transform: translateY(10px);
//         font-size: 96px;
//         color: var(--main-bg-color);
//         font-weight: bold;
//         margin-top: 124px;
//     }

 
//     .btnDetails{
//         width: 8rem;
//         background-color: var(--light-blue);
//         border: none;
//         padding: 10px 10px;
//         border-radius: 10px;
//         color: var(--main-bg-color);
//         font-weight: medium;
//         font-size: 20px;
//         margin-top: 14rem;
//         margin-left: 3.5rem;
//         font-family: 'Ubuntu', sans-serif;
//     }

//     .btnDetails:hover{
//         color: var(--dark-blue);
//         background-color: var(--aqua-light);
//         transition: 0.5s;
//     }

//     .titleProduct{
//         margin-top: 1rem;
//         color: var(--aqua-light);
//     }

//     .textProduct{
//         color: var(--aqua-dark);
//         font-family: 'Oxygen', sans-serif;
//         font-weight: bold;
//     }

//     .btnAllProducts{
//         width: 12rem;
//         margin-top: 24px;
//         font-weight: medium;
//         font-family: 'Ubuntu', sans-serif;
//         font-size: 20px;
//         border: none;
//         padding: 10px 10px;
//         border-radius: 10px;
//         background-color: var(--dark-blue);
//         color: var(--aqua-light);
//     }

//     .btnAllProducts:hover{
//         color: var(--dark-blue);
//         background-color: var(--aqua-light);
//         transition: 0.5s;
//     }

//     .img-overlay{
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: rgba(0, 0, 0, 0.6);
//         background-blend-mode: multiply;
//         border-radius: 50px;
//     }

//     .our-products-content{
//         transform: translateY(-118px);
//     }
    
//     .trapezoid-image{
//         height: 710px;
//         width: 1350px;
//     }

//     /* .footer{
//         margin-left: 0;
//         padding-left: 0;
//         height: 5rem;
//         width: 100%;
//         background-color: var(--dark-grey);
//     } */

// /*--------------------HOME RESPONSIVE--------------------------*/

// @media only screen and (max-width: 375px) {

//     /*--------------------HEADER--------------------------*/

//     .headerButtons{
//         display: none;
//     }

//     .title{
//         color: var(--light-grey);
//         font-size: 37px;
//         font-family: 'Ubuntu', sans-serif;;
//         font-weight: bold;
//     }
//     .subtitle{
//         color: var(--light-blue);
//         font-size: 24px;
//         font-family: 'Ubuntu', sans-serif;
//         font-weight: bold;
//     }

//     .card-title{
//         font-size: 24px;
//         font-family:'Ubuntu', sans-serif;
//         color: var(--light-grey);
//         position: absolute;
//         top: 16px;
//     }


//     .cardContainer{
//         margin-top: 24px;
//         display: flex;
//         justify-content: space-evenly;
//         width: 120%;
//         padding-left: 0px;
//         padding-right: 0px;

//     }

//     .card-paragraph{
//         margin-top: 24px;
//         color: var(--light-grey);
//         font-family: 'Oxygen', sans-serif;;
//         font-weight: bold;
//         font-size: 16px;
//         padding-left: 0px;
//         padding-right: 0px;
//     }

//     .content{
//         height: auto;
//         width: auto;
//         margin-top: 25%;
//     }

//     .contentCards{
//         display: none; 
//     }

//     .containerContent{
//         position: absolute;
//         left: 0%;
//         top: 15%;
//     }

//     .custom-trapezoid-img{
//         background-size: cover;
//     }

//     .btnAllProducts{
//         margin-left: -15%;
//     }

//     .btnGoToBuy{

//         border-radius: 10px;
//         color: var(--light-grey);

//         margin-top: 16px;
//         transition: 0.2s;

//         font-family: Ubuntu;
//         font-style: normal;
//         font-weight: 500;
//         font-size: 15px;
//         letter-spacing: 0.05em;
//         text-transform: uppercase;

//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;
//         padding: 8px 16px;

//         /* wp-Aqua */
//         background: var(--light-blue);
        
//         /* Soft Shadow */
//         box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);

//     }
    
//     .elements{
//         margin-bottom: 0;
//         margin-left: 20%;
//     }

    
//     .image{
//         margin-left: -12rem;
//         height: 210px;
//     }

//     .img-overlay{
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: rgba(0, 0, 0, 0.6);
//         background-blend-mode: multiply;
//         border-radius: 27px;
//     }

//     .our-products-content{
//         transform: translateY(-86px);
//     }

//     .swiper-container{
//         width: 100%;
//         height: 300px;
//     }

//     .swiper-wrapper{
//         align-items: center;
//     }

//     .swiper-slide {
//         position: relative;
//         display: flex;
//         justify-content: center;
//         height: 250px;
//         width: 200px;
//         border-radius: 27px;
//     }

//     .swiper-slide img {
//         height: 250px;
//         width: 200px;
//         border-radius: 27px;
//         object-fit: cover;
      
//     }

//     .swiper-slide-active {
//         transform: scale(1.2);
//         transition: .4s;
//     }

//     .trapezoid-image{
//         height: 210px;
//         width: 342px;
//     }

//     .text-center{
//         width: 100%;
//     }
    
//     .titleCards{
//         font-size: 40px;
//         margin-top: 96px;
//     }


// }
